
html {
    height: 100%;
    text-align: center;
    font-family: arial;
}
    
body {
    min-height: 100%;
}

p {
    font-size: 15px;
}

label {
    font-size: 18px;    
}    

textarea {
    display: flex;
    flex-direction: column;
    height: 60vh;
    
    width: 85%;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    
    font-family: arial;
}

button {
    display: inline;
    width: 40%;
    height: 50px;
    font-size: 15px;
    
    color: white;
    background: #24a319;
    border-width: 10px;
    border-color: #24a319;
    border-style: solid;
    border-radius: 10px;
    text-decoration: none;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: #E5E4E2;
    border-color: #a0a0a0;
    background: #a0a0a0;
}

button:active {
    box-shadow: 0 3px #24a319;
    transform: translateY(1px);
}


